# Large files
datasets/opiec/OPIEC59k_valid
datasets/opiec/OPIEC59k_test
datasets/reverb/reverb45k_change_test_read
datasets/reverb/reverb45k_valid

# Git LFS missing files
datasets/reverb45k/reverb45k_valid.txt
datasets/reverb45k/gold_dataset/cleantesttriple.txt
text_clustering-clinc/dataset/clinc/data/all_wiki_sents.txt
datasets/reverb45k/gold_dataset/ckbentid.txt
datasets/reverb45k/reverb45k_test.txt
entity_canonicalization-reverb/data/reverb45k/reverb45k_valid.txt
entity_canonicalization-reverb/data/reverb45k/reverb45k_test.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

.env
secrets.json
.DS_Store
*.pytest_cache/
*.ipynb
*.ipynb_checkpoints/*/*/*/*     
cache/